<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POCConfigTransformation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <POCConfigTransformation.Properties.Settings>
            <setting name="Test1" serializeAs="String">
				<value>Esto es una prueba de la variable 1 con valor (var1)</value>
            </setting>
            <setting name="Test2" serializeAs="String">
				<value>Esto es una prueba de la variable 2 con valor (var2)</value>
            </setting>
        </POCConfigTransformation.Properties.Settings>
    </userSettings>
</configuration>